div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><div class="auth-wrapper auth-basic px-2">
  <div class="auth-inner my-2">
    <!-- Reset Password basic -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="index-2.html" class="brand-logo">
          <img width="100" src="../../assets/img/PS-logo.png"/>
      </a>

        <h4 class="card-title mb-1">Reset Password 🔒</h4>
        <p class="card-text mb-2">Your new password must be different from previously used passwords</p>

        <form #resetPasswordData="ngForm" (ngSubmit)=resetPassword(resetPasswordData) class="auth-reset-password-form mt-2" >
            <div class="mb-1">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="reset-password-new">Otp</label>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                  <input
                  ngModel
                  #otp="ngModel"
                    type="text"
                    class="form-control form-control-merge"
                    name="otp"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    autofocus
                  />
                  <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                </div>
              </div>
          <div class="mb-1">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="reset-password-new">New Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                type="password"
                class="form-control form-control-merge"
                id="reset-password-new"
                name="password"
                ngModel
                #password="ngModel"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                autofocus
              />
              <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
            </div>
          </div>
          
          <button class="btn btn-primary w-100" tabindex="3">Set New Password</button>
        </form>

        <p class="text-center mt-2">
          <a [routerLink]="['/login']"  > <i data-feather="chevron-left"></i> Back to login </a>
        </p>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
    