<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper p-0">
  <div class="content-header row align-items-baseline">
    <div class="content-header-left col-md-9 col-4 mb-2">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <h2 class="content-header-title float-start mb-0">Products</h2>
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a>
              </li>

              <li class="breadcrumb-item active">Products
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-header-right  text-md-end cursor-pointer col-md-3   col-8 d-md-block "
      [routerLink]="['/catalogue/product/add']">
      <div class="card-body pt-md-0">
        <button class="btn btn-primary w-100 ">+ Add Product</button>
      </div>
    </div>
  </div>


  <div class="row" id="table-responsive">
    <div class="col-12">
      <div class="card">
        <div class="d-md-flex justify-content-between align-items-center">
          <div class="card-header col-md-8 col-12">
            <h4 class="card-title">Products</h4>
          </div>
          <div class="col-sm-12 mx-md-2  mx-1 col-11   col-md-3">
            <div class="input-group    input-group-merge">
              <span class="input-group-text" id="basic-addon-search2"><i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" placeholder="Search..." aria-label="Search..."
                aria-describedby="basic-addon-search2" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive data-table">
            <table class="table mb-0 table-sm">
              <thead>
                <tr>
                  <th scope="col" class="text-nowrap">Category Name</th>
                  <!-- <th scope="col" class="text-nowrap">Seller Name</th> -->
                  <th scope="col" class="text-nowrap">Title</th>
                  <th scope="col" class="text-nowrap">Banner</th>
                  <th scope="col" class="text-nowrap">Price</th>
                  <th scope="col" class="text-nowrap">Selling Price</th>
                  <th scope="col" class="text-nowrap">Discount</th>
                  <th scope="col" class="text-nowrap">Quantity</th>
                  <th scope="col" class="text-nowrap">Status</th>
                  <th scope="col" class="text-nowrap">Product Status</th>
                  <!-- <th scope="col" class="text-nowrap">Action</th> -->
                </tr>

              </thead>
              <tbody>

                <tr *ngFor="let product of products">
                  <td>
                    {{product.parentId.data.name}}
                  </td>
                  <!-- <td>
                    // seller data
                  </td> -->
                  <td>
                    {{product.title}}
                  </td>
                  <td class="px-1">
                    <img height="85px" src={{product.banner}} />
                  </td>
                  <td>
                    <p *ngIf="product.price && product.price.price_in_india"><b>India</b>: ₹
                      {{product.price.price_in_india}}</p>
                    <p *ngIf="product.price && product.price.price_in_unitedkingdom"><b>United Kindom</b>: £
                      {{product.price.price_in_unitedkingdom}}</p>
                    <p *ngIf="product.price && product.price.price_in_france"><b>Franch</b>: €
                      {{product.price.price_in_france}}</p>
                    <p *ngIf="product.price && product.price.price_in_germany"><b>Germany</b>: €
                      {{product.price.price_in_germany}}</p>
                    <p *ngIf="product.price && product.price.price_in_netherland"><b>Netherland</b>: €
                      {{product.price.price_in_netherland}}</p>
                    <p *ngIf="product.price && product.price.price_in_switzerland"><b>Switzerland</b>: CHf
                      {{product.price.price_in_switzerland}}</p>
                    <p *ngIf="product.price && product.price.price_in_italy"><b>Italy</b>: €
                      {{product.price.price_in_italy}}</p>
                    <p *ngIf="product.price && product.price.price_in_canada"><b>Canada</b>: $
                      {{product.price.price_in_canada}}</p>
                    <p *ngIf="product.price && product.price.price_in_unitedstate"><b>United State</b>: $
                      {{product.price.price_in_unitedstate}}</p>
                  </td>
                  <td>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_india"><b>India</b>: ₹
                      {{product.sellingPrice.selling_price_in_india}}</p>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_unitedkingdom"><b>United
                        Kindom</b>: £ {{product.sellingPrice.selling_price_in_unitedkingdom}}</p>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_france"><b>Franch</b>: €
                      {{product.sellingPrice.selling_price_in_france}}</p>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_germany"><b>Germany</b>: €
                      {{product.sellingPrice.selling_price_in_germany}}</p>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_netherland">
                      <b>Netherland</b>: € {{product.sellingPrice.selling_price_in_netherland}}</p>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_switzerland">
                      <b>Switzerland</b>: CHf {{product.sellingPrice.selling_price_in_switzerland}}</p>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_italy"><b>Italy</b>: €
                      {{product.sellingPrice.selling_price_in_italy}}</p>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_canada"><b>Canada</b>: $
                      {{product.sellingPrice.selling_price_in_canada}}</p>
                    <p *ngIf="product.sellingPrice && product.sellingPrice.selling_price_in_unitedstate"><b>United
                        State</b>: $ {{product.sellingPrice.selling_price_in_unitedstate}}</p>
                  </td>
                  <td>
                    <p *ngIf="product.discount && product.discount.discount_price_in_india"><b>India</b>:
                      {{product.discount.discount_price_in_india}}%</p>
                    <p *ngIf="product.discount && product.discount.discount_price_in_unitedkingdom"><b>United
                        Kindom</b>: {{product.discount.discount_price_in_unitedkingdom}}%</p>
                    <p *ngIf="product.discount && product.discount.discount_price_in_france"><b>Franch</b>:
                      {{product.discount.discount_price_in_france}}%</p>
                    <p *ngIf="product.discount && product.discount.discount_price_in_germany"><b>Germany</b>:
                      {{product.discount.discount_price_in_germany}}%</p>
                    <p *ngIf="product.discount && product.discount.discount_price_in_netherland"><b>Netherland</b>:
                      {{product.discount.discount_price_in_netherland}}%</p>
                    <p *ngIf="product.discount && product.discount.discount_price_in_switzerland"><b>Switzerland</b>:
                      {{product.discount.discount_price_in_switzerland}}%</p>
                    <p *ngIf="product.discount && product.discount.discount_price_in_italy"><b>Italy</b>:
                      {{product.discount.discount_price_in_italy}}%</p>
                    <p *ngIf="product.discount && product.discount.discount_price_in_canada"><b>Canada</b>:
                      {{product.discount.discount_price_in_canada}}%</p>
                    <p *ngIf="product.discount && product.discount.discount_price_in_unitedstate"><b>United State</b>:
                      {{product.discount.discount_price_in_unitedstate}}%</p>
                  </td>
                  <td>
                    {{product.quantity}}
                  </td>
                  <td>
                    {{product.status}}
                  </td>
                  <td>
                    {{product.productStatus}}
                  </td>

                  <!-- <td>
                    <div class="dropdown">
                      <button type="button" class="btn    btn-sm dropdown-toggle hide-arrow py-0"
                        data-bs-toggle="dropdown">
                        <img height='17px' src="../../../assets/img/more.png" />

                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a [routerLink]="['/catalogue/product/edit',product._id]" class="dropdown-item" href="#">
                          <i class="fa fa-pencil-square-o me-50 fa-lg" aria-hidden="true"></i>

                          <span>Edit</span>
                        </a>
                        <a (click)="onDelete(product._id)" class="dropdown-item" href="javascriptvoid(0)">
                          <i class="fa fa-trash-o me-50 fa-lg" aria-hidden="true"></i>

                          <span>Delete</span>
                        </a>
                      </div>
                    </div>

                  </td> -->
                </tr>

                <tr *ngIf="!products || !products.length">
                  <td colspan="9" align="center">
                    No data found
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>