<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper p-0">
  <div class="content-header row align-items-baseline">
    <div class="content-header-left col-md-9 col-4 mb-2">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <h2 class="content-header-title float-start mb-0">
            Manage Inventory
          </h2>
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
              <li class="breadcrumb-item active">Manage Inventory</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div
      class="content-header-right text-md-end cursor-pointer col-md-3 col-8 d-md-block"
      [routerLink]="['/inventory/manage/inventory/add']"
    >
      <div class="card-body pt-md-0">
        <button class="btn btn-primary w-100">+ Add Manage Inventory</button>
      </div>
    </div>
  </div>

  <div class="row" id="table-responsive">
    <div class="col-12">
      <div class="card">
        <div class="d-md-flex justify-content-between align-items-center">
          <div class="card-header col-md-8 col-12">            
            <form action="" class="d-flex">
              <span class="me-1">Listing Status : </span>
              <div class="form-check me-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  All
                </label>
              </div> 
              <div class="form-check me-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Active
                </label>
              </div> 
              <div class="form-check me-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Inactive
                </label>
              </div> 
              <div class="form-check me-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Listing Remove
                </label>
              </div> 
            </form>
          </div>
          <div class="col-sm-12 mx-md-2 mx-1 col-11 col-md-3">
            <div class="input-group input-group-merge">
              <span class="input-group-text" id="basic-addon-search2"
                ><i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                aria-label="Search..."
                aria-describedby="basic-addon-search2"
              />
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="table-responsive inventoryTable">
            <table class="table mb-0 table-sm manage_inventory">
              <thead>
                <tr>
                  <th scope="col" class="text-nowrap">
                    <input type="checkbox" name="" id="">
                  </th>
                  <th scope="col" class="text-nowrap">Status</th>
                  <th scope="col" class="text-nowrap">Product Image</th>
                  <th scope="col" class="text-nowrap productName">Product Name<hr class="my-0">SKU</th>
                  <th scope="col" class="text-nowrap">Created At</th>
                  <th scope="col" class="text-nowrap">Available</th>
                  <th scope="col" class="text-nowrap text-center">Pricing</th>
                  <!-- <th scope="col" class="text-nowrap">Country of Origin</th> -->
                  <!-- <th scope="col" class="text-nowrap">Importer Details</th> -->
                  <th scope="col" class="text-nowrap">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
                <ng-container *ngFor="let product of manageInventorys">
                  <tr *ngFor="let variation of product.variations">
                    <td>
                      <input type="checkbox" name="" id="">
                    </td>
                    <td>
                      {{ variation.status }}
                    </td>
                    <td>
                      <img class="productImage" src="{{ variation.banner }}" alt="">
                    </td>
                    <td class="productName">
                      <a class="titleLink" target="_blank" href="{{redirectUrl(product.id,variation.variation1, variation.variation2)}}">
                        {{ variation.title }}
                      </a>
                      <hr class="my-0">
                      <p>
                        {{ variation.sku }}
                      </p>
                    </td>
                    <td>
                      {{ product.createdAt }}
                    </td>
                    <td class="text-center">
                      <input type="text" name="" value="{{ variation.quantity }}" class="form-control" id="" size="5">
                      
                    </td>
                    <td>
                      <input type="text" name="" class="form-control" id="" size="10">
                    </td>
                    <!-- <td>
                      {{ variation.country_of_origin }}
                    </td> -->
                    <!-- <td>
                      {{ variation.importer_details }}
                    </td> -->
                    <td>
                      <button class="updateBtn" (click)="updateUrl(product.id,variation.variation1, variation.variation2)">
                        Edit
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
