<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper p-0">
  <div class="content-header row align-items-baseline">
    <div class="content-header-left col-md-9 col-4 mb-2">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <h2 class="content-header-title float-start mb-0">
            Manage Inventory
          </h2>
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
              <li class="breadcrumb-item active">Manage Inventory</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div
      class="content-header-right text-md-end cursor-pointer col-md-3 col-8 d-md-block"
      [routerLink]="['/inventory/manage/inventory/add']"
    >
      <div class="card-body pt-md-0">
        <button class="btn btn-primary w-100">+ Add Manage Inventory</button>
      </div>
    </div>
  </div>

  <div class="row" id="table-responsive">
    <div class="col-12">
      <div class="card">
        <div class="d-md-flex justify-content-between align-items-center">
          <div class="card-header col-md-8 col-12">
            <h4 class="card-title">Manage Inventory</h4>
          </div>
          <div class="col-sm-12 mx-md-2 mx-1 col-11 col-md-3">
            <div class="input-group input-group-merge">
              <span class="input-group-text" id="basic-addon-search2"
                ><i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                aria-label="Search..."
                aria-describedby="basic-addon-search2"
              />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table mb-0 table-sm">
              <thead>
                <tr>
                  <th scope="col" class="text-nowrap">Product Image</th>
                  <th scope="col" class="text-nowrap productName">Product Name</th>
                  <th scope="col" class="text-nowrap">SKU</th>
                  <th scope="col" class="text-nowrap">Brand Name</th>
                  <th scope="col" class="text-nowrap">Product Status</th>
                  <th scope="col" class="text-nowrap">Country of Origin</th>
                  <th scope="col" class="text-nowrap">Created At</th>
                  <th scope="col" class="text-nowrap">External Product Id</th>
                  <th scope="col" class="text-nowrap">
                    External Product Id Type
                  </th>
                  <th scope="col" class="text-nowrap">Importer Details</th>
                  <th scope="col" class="text-nowrap">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
                <ng-container *ngFor="let product of manageInventorys">
                  <tr *ngFor="let variation of product.variations">
                    <td>
                      <img class="productImage" src="{{ variation.banner }}" alt="">
                    </td>
                    <td class="productName">
                      <a class="titleLink" target="_blank" href="{{redirectUrl(product.id,variation.variation1, variation.variation2)}}">
                        {{ variation.title }}
                      </a>
                    </td>
                    <td>
                      {{ variation.sku }}
                    </td>
                    <td>
                      {{ product.brand_name }}
                    </td>
                    <td>
                      {{ variation.productStatus }}
                    </td>
                    <td>
                      {{ variation.country_of_origin }}
                    </td>
                    <td>
                      {{ product.createdAt }}
                    </td>
                    <td>
                      {{ variation.external_product_id }}
                    </td>
                    <td>
                      {{ variation.external_product_id_type }}
                    </td>
                    <td>
                      {{ variation.importer_details }}
                    </td>
                    <td>
                      <button class="updateBtn" (click)="updateUrl(product.id,variation.variation1, variation.variation2)">
                        Update Product
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
