<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper container-xxl p-0">
    <div class="content-header row ">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-start mb-0">Manage Inventory Create</h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item active"><a >Add Product</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 offset-md-2 col-12 pb-5 pt-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Product</h4>
            </div>
            <div class="card-body">
                <form #manageInventoryAddForm="ngForm" class="needs-validation" #addproductForm="ngForm" (ngSubmit)="addproduct(addproductForm.value)">      
                    <div class="mb-1">
                         <label class="form-label" for="selectDefault">Category</label>
                         <select class="form-select" id="selectDefault" name="category" ngModel>
                             <option selected  >Select Category </option>
                             <option value="1">Active</option>
                             <option value="2">Inactive</option>
                         </select>
                     </div>  
                     <div class="mb-1">
                         <label class="form-label" for="basic-addon-name">Seller</label>
                         <input type="text" ngModel name="seller"  class="form-control"
                             placeholder="Seller Name" />
                     </div>         
                     <div class="mb-1">
                         <label class="form-label" for="basic-addon-name">Title</label>
                         <input type="text"  name="title" ngModel class="form-control"
                             placeholder="Product Title" />
                     </div>         
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="form-label" for="basic-addon-name">Product Banner</label>
                        </div>
                      
                            <input type="file" #b_image name="banner" class="dropzone dropzone-area" ngModel (change)="bannerImage($event)">
                    </div>
 
                    <div class="mb-2">
                        <div class="form-label">
                            <label class="form-label" for="basic-addon-name">Product Images</label>
                        </div>
                        <input type="file" #p_image name="images" class="dropzone dropzone-area" multiple ngModel (change)="productImg($event)">
                     
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-addon-name">Price</label>
                        <input type="text" #price="ngModel" name="price" ngModel class="form-control"
                            placeholder="Price" />
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-addon-name">Selling Price</label>
                        <input type="text" #sellingprice="ngModel" name="sellingPrice" ngModel class="form-control"
                            placeholder="Selling Price" />
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-addon-name">Sku</label>
                        <input type="text" #sku="ngModel" name="SKU" ngModel class="form-control"
                            placeholder="Enter Sku" />
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-addon-name">Quantity</label>
                        <input type="text" #quntity="ngModel" name="quantity" ngModel class="form-control"
                            placeholder="Quantity" />
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="basic-addon-name">Product Description</label>
                         <textarea name="description" class="form-control" id="" cols="30" rows="4" placeholder="Description" name="description" ngModel></textarea>
                    </div>
                    <div class="mb-1">
                         <label class="form-label" for="basic-addon-name">Features</label>
                         <input type="text" #sku="ngModel" name="features" ngModel class="form-control"
                             placeholder="Features" />
                     </div>
                    <div class="mb-1">
                        <label class="form-label" for="selectDefault">Stocks Status</label>
                        <select class="form-select" id="selectDefault" name="status" ngModel>
                            <option selected>Select Stocks Status</option>
                            <option value="In stock">In Stocks</option>
                            <option value="Out of stock">Out of Stocks</option>
                        </select>
                    </div>  
                    <div class="mb-1 text-center">
                         <input type="submit" class="btn btn-primary" value=" Add Product">
                         <button class="btn btn-danger mx-2">
                              <i class="fa fa-times" aria-hidden="true"></i>
                              Cancel
                         </button>
                    </div>
                </form>
            </div>
        </div>
    </div>