<div class="content-header row ">
     <div class="content-header-left col-md-9 col-12 mb-2">
         <div class="row breadcrumbs-top">
             <div class="col-12">
                 <h2 class="content-header-title float-start mb-0">Add Product Via Upload</h2>
                 <div class="breadcrumb-wrapper">
                     <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a >Home</a>
                         </li>
                         <li class="breadcrumb-item active"><a >Add Product Via Upload</a>
                         </li>
                     </ol>
                 </div>
             </div>
         </div>
     </div>
 </div>

 

 <div class="col-md-8 offset-md-2 col-12 pb-5 pt-3">
     <div class="card">
         <div class="card-header">
             <h4 class="card-title">Add Product Via Upload</h4>
         </div>
         <div class="card-body">
             <form #manageInventoryAddForm="ngForm" class="needs-validation" #addproductForm="ngForm">      
                 <div class="mb-1">
                      <label class="form-label" for="selectDefault">Select Category</label>
                      <select class="form-select" id="selectDefault" name="category" ngModel>
                          <option selected>Select Category</option>
                          <option value="1">Active</option>
                          <option value="2">Inactive</option>
                      </select>
                  </div>  
                 <div class="mb-2">
                     <div class="form-label">
                         <label class="form-label" for="basic-addon-name">Upload File</label>
                     </div>
                     <label class="dropzone dropzone-area ">
                         <input type="file" #p_image name="images" class="upload_file" multiple ngModel>
                         <h2 class="upload_title">Select or Drop it, File!</h2>
                     </label>
                 </div>
                 <div class="mb-1 text-center">
                      <input type="submit" class="btn btn-primary" value="Upload">
                      <button class="btn btn-danger mx-2">
                           <i class="fa fa-times" aria-hidden="true"></i>
                           Cancel
                      </button>
                 </div>
             </form>
         </div>
     </div>
 </div>