<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper p-0">
  <div class="content-header row align-items-baseline">
    <div class="content-header-left col-md-9 col-4 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-start mb-0">My Account</h2>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a>
                        </li>
                        <li class="breadcrumb-item active"><a [routerLink]="['/profile/view']">My Account</a>
                        </li>
                        <li class="breadcrumb-item active">Edit Profile
                    </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header-right  text-md-end cursor-pointer col-md-3   col-8 d-md-block " [routerLink]="['/profile/view']"  >
        <div class="card-body pt-md-0">
            <button  class="btn btn-primary w-100 "><i class="fa fa-edit"></i> View Profile</button>
        </div>
    </div>
  </div>


  <div class="row" id="table-responsive">
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="d-md-flex justify-content-between align-items-center">
          <div class="card-header col-md-8 col-12">
            <h4 class="card-title">Account Info</h4>
          </div>          
        </div>
        <div class="card-body">
          <div class="table-responsive data-table">
               <form #updateFormData="ngForm" (ngSubmit) = "updateUser(updateFormData.value)">
               <table class="table profile_info">
                    <tr>
                         <th>Name</th>
                         <td>
                              <input type="text" #name  name="name" class="form-control"  ngModel="{{userData.data.name}}"/>
                         </td>
                    </tr>
                    <tr>
                         <th>Email</th>
                         <td>
                              <input type="text" #email name="email" class="form-control" ngModel="{{userData.data.email}}" />
                         </td>
                    </tr>
                    <tr>
                         <th>Contact No.</th>
                         <td>
                              <input type="text" #no  name="phoneNumber" class="form-control"  ngModel="{{userData.data.phoneNumber}}"/>
                         </td>
                    </tr>
                    <tr>
                         <td colspan="2">
                              <div class="mb-1 text-center">
                                   <button class="btn btn-primary" >save profile</button>
                                   <button class="btn btn-danger mx-2" [routerLink]="['/profile/view']">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        Cancel
                                   </button>
                              </div>
                         </td>
                    </tr>
               </table>
          </form>
          </div>
      </div>
    </div>