<div class="app-content content m-0 pt-0 ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body"><div class="auth-wrapper auth-basic px-2">
<div class="auth-inner my-2">
  <!-- Forgot Password basic -->
  <div class="card mb-0">
    <div class="card-body">
      
        <a href="index-2.html" class="brand-logo">
          <img width="100" src="../../assets/img/PS-logo.png"/>
      </a>
       
      

      <h4 class="card-title mb-1">Forgot Password? 🔒</h4>
      <p class="card-text mb-2">Enter your email and we'll send you instructions to reset your password</p>

      <form class="auth-forgot-password-form mt-2" #forgetPasswordData="ngForm" (ngSubmit)="doForgetPassword(forgetPasswordData)" >
        <div class="mb-1">
          <label for="forgot-password-email" class="form-label">Email</label>
          <input
          ngModel
          #email="ngModel"
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter Your Email"
            autofocus
          />
        </div>
        <button class="btn btn-primary w-100" tabindex="2">Send reset link</button>
      </form>

      <p class="text-center mt-2">
        <a [routerLink]="['/login']"  > <i data-feather="chevron-left"></i> Back to login </a>
      </p>
    </div>
  </div>
  <!-- /Forgot Password basic -->
</div>
</div>

      </div>
    </div>
  </div>